<div class="brand row">
    <h1>Travnal<img class="logo-image" src="/assets/paper-plane.png"></h1>
</div>
<div class="container">        
<div class="col-md-4"></div>
<div class="col-md-4 setprofile login">
    <div class="row">
        <h2 class="signin-text">Create Profile</h2>
    </div>
    <form #createForm="ngForm" (ngSubmit)="create(createForm.value)" >
        <div class="form-group">

            <h4><label for="file">Upload Profile Image</label></h4>
            <input type="file" [accept]="[ '.jpg', '.jpeg', '.png' ]"
                   id="file"
                   class="form-control"
                   (change)="handleFileInput($event.target.files)">
            <button type="button" class="btn btn-success btn-s" (click)="upload()">Upload</button><br />
            <img [src]="imgURL" height="200" *ngIf="imgURL">
            <h3>{{uploaded}}</h3>
        </div>

        <h4>Name</h4>
        <input type="text" name="name" class="form-control" placeholder="JohnDoe" [ngModel] [style.width.%]="100">
        <br>
        <h4>Username</h4>
        <input type="text" name="username" class="form-control"  [ngModel]=username readonly [ngModel]>
        <br>
        <h4>Website/Blog</h4>
        <input type="text" name="website" class="form-control" placeholder="rj.blogspot.in" [ngModel]>
        <br>
        <h4>Bio</h4>
        <input type="text" name="bio" class="form-control" placeholder="Write something interesting about you" [ngModel]>
        <br>
        <h4>City</h4>
        <input type="text" name="city" class="form-control" [ngModel]>
        <br>
        <h4>Phone Number</h4>
        <input type="text" name="phone" class="form-control" placeholder="Enter 10 digit mobile number" [ngModel]>
        <br>
        <h4>Gender</h4>
        <select class="gender" [ngModel]>
            <option value="male" [ngModel]>Male</option>
            <option value="female" [ngModel]>Female</option>
            <option value="other" [ngModel]>Other</option>
        </select>
        <br>
        <h4>Birthdate</h4>
        <input type="date" name="birthday" class="date" ngModel>
        <input name="profile" [ngModel]="imagePath" hidden>
        <br><br>
        <button type="submit" class="btn btn-primary signup">Create</button>
        <br><br>
    </form>
    <button onclick="backAway()" class="btn btn-primary signup">Cancel</button>
    <br><br>
</div>
    <div class="col-md-4"></div>
</div>    
<br>
<app-footer></app-footer>