<div class="container-fluid" id="profile-container">
    <div class="col-md-4" id="profile-thumb-sec">
        <section class="profile">
            <header class="header">
                <div class="details">
                    <img src={{profileimage}} alt="John Doe" class="profile-pic">
                    <h1 class="heading">{{username}}</h1>
                    <div class="location">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                        </svg>
                        <p>{{ location }}</p>
                    </div>
                    <div class="stats">
                        <div class="col-4">
                            <h4>{{noposts}}</h4>
                            <p>Posts</p>
                        </div>
                        <div class="col-4">
                            <h4>{{nofollowers}}</h4>
                            <p>Followers</p>
                        </div>
                        <div class="col-4">
                            <h4>{{nofollowing}}</h4>
                            <p>Following</p>
                        </div>
                    </div>
                    <br><br>
                    <!--<% if(show==0){ %>
                        <a href="/follow/<%= name %>"><button class="btn btn-primary"> Follow Me </button></a> if and add this to db
                    <% } %>
                    <% if(show==1){ %>
                        <a href="/new-trip"><button class="btn btn-primary"> Create Trip </button></a> if and add this to db
                    <% } %>-->
                </div>
            </header>
        </section>
        </div>
    <!--<div class="seperator">
        POSTS
    </div>-->
    <div class="col-md-8" id="profile-feed-sec">
    <section class="section">
        <div class="grid">
            <!--<% if(posts.length>0) {%>
                <% for(var i=0; i<posts.length; i++) {%>
                        <div class="item <%= posts[i].class%>">
                            <a href="/trip/<%= name %>/<%= posts[i].idt %>">
                            <div class="item__details">  
                            <b> <%= posts[i].tripname %> </b>
                            <br>
                            <%= posts[i].decription %>
                            </div>
                            </a>
                        </div>
                <% } %>
            <% } else{ %>
                <h3>No posts yet!</h3>
            <% } %>-->
            <div class="item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
            </div>
            <div class="item item--large">
            <div class="item__details">
                Muffin jelly gingerbread 
            </div>
            </div>
            <div class="item item--medium">
            <div class="item__details">
                sesame snaps chocolate
            </div>
            </div>
            <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
            </div>
            <div class="item item--full">
            <div class="item__details">
                jujubes cheesecake
            </div>
            </div>
            <div class="item item--medium">
            <div class="item__details">
                Dragée pudding brownie
            </div>
            </div>
            <div class="item">
            <div class="item__details">
                powder toffee
            </div>
            </div>
        </div>
    </section>
    </div>
</div>
<app-footer></app-footer>