<div class="container-fluid" id="profile-container">
    <div class="col-md-4" id="profile-thumb-sec">
        <section class="profile">
            <header class="header">
                <div class="details">
                    <img src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=b38c22a46932485790a3f52c61fcbe5a" alt="John Doe" class="profile-pic">
                    <h1 class="heading">Claire Doe</h1>
                    <div class="location">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                        </svg>
                        <p>Kochi, India</p>
                    </div>
                    <div class="stats">
                        <div class="col-4">
                            <h4>20</h4>
                            <p>Reviews</p>
                        </div>
                        <div class="col-4">
                            <h4>10</h4>
                            <p>Communities</p>
                        </div>
                        <div class="col-4">
                            <h4>100</h4>
                            <p>Discussions</p>
                        </div>
                    </div>
                </div>
            </header>
        </section>
        </div>
    <!--<div class="seperator">
        POSTS
    </div>-->
    <div class="col-md-8" id="profile-feed-sec">
    <section class="section">
        <div class="grid">
            <div class="item">
            <div class="item__details">
                jelly-o brownie sweet
            </div>
            </div>
            <div class="item item--large">
            <div class="item__details">
                Muffin jelly gingerbread 
            </div>
            </div>
            <div class="item item--medium">
            <div class="item__details">
                sesame snaps chocolate
            </div>
            </div>
            <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
            </div>
            <div class="item item--full">
            <div class="item__details">
                jujubes cheesecake
            </div>
            </div>
            <div class="item item--medium">
            <div class="item__details">
                Dragée pudding brownie
            </div>
            </div>
            <div class="item">
            <div class="item__details">
                powder toffee
            </div>
            </div>
        </div>
    </section>
    </div>
</div>
<app-footer></app-footer>