<div class="container-fluid" id="profile-container">
    <div class="col-md-4" id="profile-thumb-sec">
        <section class="profile">
            <header class="header">
                <div class="details">
                    <img src={{profileimage}} alt="John Doe" class="profile-pic">
                    <h1 class="heading">{{urlname}}</h1>
                    <div class="location">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                        </svg>
                        <p>{{ location }}</p>
                    </div>
                    <div class="stats">
                        <div class="col-4">
                            <h4 *ngIf="posts">{{posts.length}}</h4>
                            <p>Posts</p>
                        </div>
                        <div class="col-4">
                            <h4 *ngIf="followers" (click)="open('followers')">{{followers.length}}</h4>
                            <p>Followers</p>
                        </div>
                        <div class="col-4">
                            <h4 *ngIf="following" (click)="open('following')">{{following.length}}</h4>
                            <p>Following</p>
                        </div>
                    </div>
                    {{details['bio']}}
                    <br>
                    <a href="http://{{details['website']}}">{{details['website']}}</a>
                    <br>
                    <div *ngFor="let person of followers" id="followers">
                        Followers<br>
                        <a href="/{{person['username']}}/profile">{{person['username']}}</a>
                    </div>
                    <div *ngFor="let person of following" id="following">
                        Following<br>
                        <a href="/{{person['username']}}/profile">{{person['username']}}</a>
                    </div>
                    <a href="/{{username}}/newtrip" *ngIf="show" ><button class="btn btn-primary"> Create Trip </button></a>
                    <button (click)="follow()" class="btn btn-primary" *ngIf="!show"> Follow Me </button>
                </div>
            </header>
        </section>
        </div>
    <!--<div class="seperator">
        POSTS
    </div>-->
    <div class="col-md-8" id="profile-feed-sec">
    <section class="section">
        <div class="grid" *ngFor="let post of posts">
            <div class="item item--medium" >
                <a href="/{{username}}/{{post.tripId}}/timeline">
                    <div class="item__details">
                        <b>{{post.tripname}}</b><br>
                        {{post.description}}
                    </div>
                </a>
            </div>
        </div>
    </section>
    </div>
</div>
<app-footer></app-footer>