<div class="row" id="addplace">
  <div class="container">
      <div class="col-md-3"></div>            
      <div class="col-md-6 login signin">
          <div class="row">
              <h2 class="signin-text">Add Place</h2>
          </div>
          <form #placeForm="ngForm" (ngSubmit)="addPlace(placeForm.value)">
              <h3>Name</h3>
              <input name="name" class="form-control" placeholder="Udipi" ngModel [style.width.%]="100">
              <br>
              <h3>Description</h3>
              <input name="description" class="form-control" placeholder="unique blend of urban development with traditional culture deeply enrooted" ngModel [style.width.%]="100">
              <br><br>
              <h3>Location</h3>
              <input name="location" class="form-control" placeholder="E.g.: Dadar" ngModel>
              <br><br>
              <button type="submit" class="btn btn-primary form-control">Add Place</button>
              <br><br>
          </form>
          <button (click)="close()" class="btn btn-primary form-control">Cancel</button>
          <br><br>
      </div>
      <div class="col-md-3"></div>            
    </div>
</div>  
  
<div class="container">
  <section class="intro">
    <div class="container">
      <h2>{{title}}</h2>
      <h3>a trip by <a [href]="userlink"><b>{{username}}</b></a> </h3>
    </div>
  </section>

  <section class="timeline">
    <ul>
      <li *ngFor="let place of places" class="in-view">
          <div class="main" *ngIf="place">
            <time>{{place.date}}</time> <b>{{place.name}}</b><br>
            {{place.description}}
            <time>{{place.location}}</time>
          </div>
      </li>
    </ul>
  </section>
  <img *ngIf="show" src="https://cdn4.iconfinder.com/data/icons/iconsimple-places/512/pin_plus-512.png" class="add-icon" (click)="openform()">
</div>