<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>    
                </button>                  
                <a class="navbar-brand brand" href="/feed">Travnal</a>
            <img class="logo-image" src="./assets/paper-plane.png">
        </div>
        <div class="navbar-right collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a routerLink="/feed">Feed</a></li>
                <li><a routerLink="/{{username}}/profile">Profile</a></li>
                <li><a routerLink="/logout">Logout</a></li>
                <form class="navbar-form navbar-left" action="/search" method="POST">
                    <input type="text" name="search_value" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </ul>
            <a href="#"><img src={{profileimage}} alt="John Doe" class="profile-img"></a>
        </div>
    </div>
</nav>