<div id="profile-feed-sec">
        <section class="section">
            <div class="grid" *ngFor="let profile of following">
                <div *ngFor="let post of profile['posts']">
                    <div class="item item--medium">
                        <a href="/{{profile['username']}}/{{post.tripId}}/timeline">
                            <div class="item__details">
                                <b>{{post.tripname}}</b><br>
                                {{post.description}}
                            </div>
                        </a>
                    </div>
                </div>                
            </div>
    </section>
</div>
<app-footer></app-footer>